@import url('https://fonts.googleapis.com/css?family=Spectral+SC:200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap');

$titles-font: "Spectral SC", sans-serif;
$common-font: "Mulish", sans-serif;


$main-color: #330066;
$additional-main-color: #333366;

$main-accent-color: #0033FF;
$additional-accent-color: #0099CC;
$additional-accent-color-lite: #6ddaff;
$extra-accent-color: #660099;
$checkbox-color: #acacac;

$bg-color: #f5f5ff;
$buttons-color: $main-accent-color;