@import url('https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:regular,700,900&display=swap');

$titles-font: "Nunito", sans-serif;
$common-font: "Rubik", sans-serif;


$main-color: #1F1D2A;
$additional-main-color: #4F5569;

$main-accent-color: #14A76C;
$additional-accent-color: #FF652F;
$additional-accent-color-lite: #FF946E;
$extra-accent-color: #E02D05;
$checkbox-color: #9FA0A7;

$bg-color: #FFFFFF;
$buttons-color: $main-accent-color;