@import "../../App/App.scss";

.benefits {
    margin-bottom: 200px;
    .benefits-container {
        h2 {
            margin-bottom: 58px;
        }
        .benefits-cards {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 30px;
        }
    }
}