@import "../../App/App.scss";

.top {
    @include flex(space-between, center);
    min-height: 110px;
    .top-logo {
        @include flex(flex-start, center);
        .logo-title {
            margin-left: 5px;
            span {
                &:first-child {
                    font-weight: 500;
                    font-size: 34px;
                }
                &:last-child {
                    font-size: 34px;
                    color: $additional-accent-color;
                }
            }
        }
    }
    .top-btn {
        border-radius: 15px;
        padding: 10px 60px;
        font-size: 20px;
        background-color: $additional-accent-color;
        color: white;
        border: 1px solid $additional-accent-color;
        animation: color-changer 4s forwards;
    }

}

@keyframes color-changer {
    0%{
        background-color: $additional-accent-color;
        color: white;
    }
    70%{
        background-color: $additional-accent-color;
        color: white;
        border: 1px solid $additional-accent-color;
    }
    100%{
        background-color: white;
        color: $main-color;
        border: 1px solid $main-color;
    }
}